.butt{
    background-color: green;
    color: white;
    padding: 7px;
    border-radius: 10px 10px 10px 10px;
    margin-right: 15px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}